@import 'vars.scss';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

section {
	margin: auto;
	max-width: var(--container-max-width);
}

button {
	&:hover {
		cursor: pointer;
	}
}

.bug-form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	background: var(--gray);
	padding: 16px;

	&__input {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}