@import 'vars.scss';
@import 'fonts.scss';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

section {
	margin: auto;
	max-width: var(--container-max-width);
	padding-left: var(--space-1);
	padding-right: var(--space-1);

	input,
	textarea {
		font-family: var(--main-font);
		min-height: 32px;
		border-radius: 8px;
		border: none;
		padding: 8px;
	}

	textarea {
		min-height: 100px;
	}

	button {
		max-width: fit-content;
		background: var(--dark-blue);
		border: none;
		color: var(--white);
		border-radius: 8px;
		padding: 4px 24px;

		&:hover {
			background: var(--light-blue);
		}

		&.warning {
			background: var(--dark-red);

			&:hover {
				background: var(--light-red);
			}
		}
	}
}

button {
	font-family: var(--main-font);
	transition: var(--transition-delay) all ease-in-out;

	&:hover {
		cursor: pointer;
	}
}

.bug-form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	background: var(--gray);
	padding: 16px;
	border-radius: 8px;
	
	&:not(:last-child) {
		margin-bottom: 32px;
	}

	&__input {
		display: flex;
		flex-direction: column;
		gap: var(--space-half);
	}
}