@import 'vars.scss';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

section {
	margin: auto;
	max-width: var(--container-max-width);
}

button {
	&:hover {
		cursor: pointer;
	}
}